body {
  display: flex;
  min-height: 93vh;
  margin-top: 60px;
  background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
}

div {
  margin: auto;
}

h1 {
  color: black;
}

@media (max-width: 700px) {
  h1 {
    font-size: 75px;
  }
}

@media (max-width: 500px) {
  h1 {
    font-size: 50px;
  }
}

@media (min-width: 700px) {
  h1 {
    font-size: 100px;
  }
}
